<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
<test name="supplyhouse ">
		<classes>
			<class name="com.supplyhouse.qa.testcases.BoilerPartsFinderPageTest"></class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
